:root {
    --primary-color : #FFDE00;
    --primary-light-color : #FFE769;
    --secondary-color : #FFE4BA;
    --secondary-light-color : #FFF6EB;
    --post-color : #62EEAB;
    --delete-color : #FF9F9F;
    --light-color : #FFFEFC;
    --grey-color : #747E79;
    --dark-color : #000000;

    --primary-font : 'Cabin', sans-serif;
    --secodary-font : 'Calistoga', sans-serif;

    --border-width : 3px;
    --element-border-radius : 5px;

    --button-height : 5px;

    --small-button-height : 2px;

    --element-padding : 0.8em;

    --maximum-width : 320px;

    --reg-font-size : 16px;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: var(--reg-font-size);
}

body {
    background-color: var(--secondary-light-color);
    font-family: var(--primary-color);
    color: var(--dark-color);
}

/* Typography */

h1, h2 {
    margin: 0;
}

.app-title {
    text-align: center;
    font-size: 2.5em;
    font-family: var(--secodary-font);
}

/* Sections */

section {
    margin: 3em 0;
}

.auth-fields-and-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* User Section  */

.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}

.user-section img {
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: var(--border-width) solid var(--dark-color);
}

.user-section h2{
    font-size: 1.2em;
}

/* Post Section */

.post-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Nav  */

nav {
    margin: .6em 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* Structure  */

.container {
    max-width: var(--maximum-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#logged-out-view .container{
    gap: 2em;
}

.app-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* Common for elements */

input, button, textarea {
    font-family: inherit;
    padding: var(--element-padding);
    border-radius: var(--element-border-radius);
    width: 100%;
    box-sizing: border-box;
}

input, button {
    font-size: 1.1em;
    text-align: center;
    border: var(--border-width) solid var(--dark-color);
}

input:focus, button:focus, textarea:focus {
    outline: none;
}

/* Input Fields */

textarea {
    font-size: 1em;
    border: 0;
    box-shadow: 3px 3px 3px 1px rgb(0, 0, 0, .25);
    resize: none;
    height: 6em;
}

textarea::placeholder {
    color: var(--grey-color);
    opacity: 1;
}

input {
    font-weight: 300;
}

input::placeholder {
    color: var(--grey-color);
    opacity: 1;
}

input:-ms-input-placeholder {
    color: var(--grey-color);
}

input::-ms-input-placeholder {
    color: var(--grey-color);
}

/* Buttons */

button {
    font-weight: 600;
    width: 100%;
}

button:hover {
    cursor: pointer;
}

.primary-btn {
    background-color: var(--primary-color);
    box-shadow: 0px var(--button-height) 0px 0px var(--dark-color);
    position: relative;
}

.primary-btn:hover {
    top: var(--button-height);
    box-shadow: none;
}

.secondary-btn {
    padding: 0.4em;
    background-color: transparent;
}

.secondary-btn:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}

.provider-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    gap: .5em;
    color: var(--dark-color);
    background-color: var(--light-color);
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .25);
}

.provider-btn:hover {
    transition: all .2s ease;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .25);
}

.google-btn-logo {
    width: 1.375em;
}

.icon-btn {
    background: none;  
    padding: 0;
    width: 1.875em;
    cursor: pointer;
    border: none; 
}

.icon-btn:hover {
    filter: invert(.5);
}

.tertiary-btn {
    max-width: 320px;
    display: block;
    margin: 0 auto;
    padding: .5em;
}

.tertiary-btn:hover {
    transition: all .2s ease;
    background-color: var(--primary-color);   
}

/* Initial Setup */

#logged-out-view {
    display: none;
}

#logged-in-view {
    display: none;
    margin: 0;
}